.contactList {
  display: flex;
  flex-direction: column-reverse;
  gap: 10px;
}

.contactItem {
  display: flex;
  justify-content: space-between;
  gap: 10px;

  margin-bottom: 10px;
  width: 300px;
}
